-- MySQL dump 10.13  Distrib 8.1.0, for Linux (x86_64)
--
-- Host: localhost    Database: saco_db
-- ------------------------------------------------------
-- Server version	8.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('sacco-management-system-cache-danielzhomeconnect@gmail.com|172.19.0.1','i:1;',1772628961),('sacco-management-system-cache-danielzhomeconnect@gmail.com|172.19.0.1:timer','i:1772628961;',1772628961);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_flows`
--

DROP TABLE IF EXISTS `cash_flows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_flows` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `transaction_date` date NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` enum('income','expense') COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `payment_method` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('cleared','pending','reconciled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cash_flows_transaction_date_index` (`transaction_date`),
  KEY `cash_flows_type_index` (`type`),
  KEY `cash_flows_category_index` (`category`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_flows`
--

LOCK TABLES `cash_flows` WRITE;
/*!40000 ALTER TABLE `cash_flows` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_flows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashflow_transactions`
--

DROP TABLE IF EXISTS `cashflow_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cashflow_transactions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `transaction_date` date NOT NULL,
  `transaction_type` enum('INFLOW','OUTFLOW') COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` enum('OPERATING','INVESTING','FINANCING') COLLATE utf8mb4_unicode_ci NOT NULL,
  `subcategory` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `amount` decimal(15,2) NOT NULL,
  `reference_type` enum('DEPOSIT','LOAN_DISBURSEMENT','LOAN_REPAYMENT','WELFARE_PAYMENT','FINE_PAYMENT','EXPENSE','INVESTMENT','OTHER') COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_id` bigint unsigned DEFAULT NULL,
  `reference_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_method` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('PENDING','CLEARED','RECONCILED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `fiscal_year_id` bigint unsigned DEFAULT NULL,
  `member_id` bigint unsigned DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cashflow_transactions_created_by_foreign` (`created_by`),
  KEY `cashflow_transactions_approved_by_foreign` (`approved_by`),
  KEY `cashflow_transactions_transaction_date_index` (`transaction_date`),
  KEY `cashflow_transactions_transaction_type_index` (`transaction_type`),
  KEY `cashflow_transactions_category_index` (`category`),
  KEY `cashflow_transactions_reference_type_reference_id_index` (`reference_type`,`reference_id`),
  KEY `cashflow_transactions_fiscal_year_id_index` (`fiscal_year_id`),
  KEY `cashflow_transactions_member_id_index` (`member_id`),
  KEY `cashflow_transactions_status_index` (`status`),
  CONSTRAINT `cashflow_transactions_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cashflow_transactions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cashflow_transactions_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cashflow_transactions_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashflow_transactions`
--

LOCK TABLES `cashflow_transactions` WRITE;
/*!40000 ALTER TABLE `cashflow_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cashflow_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deposits`
--

DROP TABLE IF EXISTS `deposits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deposits` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `month` tinyint NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `status` enum('pending','distributed','partial','virtual') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `deposit_date` date NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `deposits_member_id_foreign` (`member_id`),
  KEY `deposits_fiscal_year_id_foreign` (`fiscal_year_id`),
  KEY `deposits_created_by_foreign` (`created_by`),
  CONSTRAINT `deposits_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `deposits_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `deposits_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deposits`
--

LOCK TABLES `deposits` WRITE;
/*!40000 ALTER TABLE `deposits` DISABLE KEYS */;
/*!40000 ALTER TABLE `deposits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distributions`
--

DROP TABLE IF EXISTS `distributions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distributions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `deposit_id` bigint unsigned NOT NULL,
  `type` enum('savings','welfare','fines','other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `month` int DEFAULT NULL,
  `fiscal_year_id` bigint unsigned DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `distributions_deposit_id_foreign` (`deposit_id`),
  KEY `distributions_created_by_foreign` (`created_by`),
  KEY `distributions_fiscal_year_id_foreign` (`fiscal_year_id`),
  CONSTRAINT `distributions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `distributions_deposit_id_foreign` FOREIGN KEY (`deposit_id`) REFERENCES `deposits` (`id`) ON DELETE CASCADE,
  CONSTRAINT `distributions_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distributions`
--

LOCK TABLES `distributions` WRITE;
/*!40000 ALTER TABLE `distributions` DISABLE KEYS */;
/*!40000 ALTER TABLE `distributions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_downloads`
--

DROP TABLE IF EXISTS `document_downloads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_downloads` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `document_id` bigint unsigned NOT NULL,
  `member_id` bigint unsigned NOT NULL,
  `fine_applied` tinyint(1) NOT NULL DEFAULT '0',
  `fine_id` bigint unsigned DEFAULT NULL,
  `downloaded_at` timestamp NOT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `document_downloads_member_id_foreign` (`member_id`),
  KEY `document_downloads_fine_id_foreign` (`fine_id`),
  KEY `document_downloads_document_id_member_id_index` (`document_id`,`member_id`),
  KEY `document_downloads_fine_applied_index` (`fine_applied`),
  CONSTRAINT `document_downloads_document_id_foreign` FOREIGN KEY (`document_id`) REFERENCES `documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `document_downloads_fine_id_foreign` FOREIGN KEY (`fine_id`) REFERENCES `fines` (`id`) ON DELETE SET NULL,
  CONSTRAINT `document_downloads_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_downloads`
--

LOCK TABLES `document_downloads` WRITE;
/*!40000 ALTER TABLE `document_downloads` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_downloads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `filename` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `original_filename` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_size` int NOT NULL,
  `document_type` enum('constitution','legal','loan_form','other') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'other',
  `requires_fine` tinyint(1) NOT NULL DEFAULT '0',
  `fine_amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `uploaded_by` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_document_type_is_active_index` (`document_type`,`is_active`),
  KEY `documents_uploaded_by_index` (`uploaded_by`),
  CONSTRAINT `documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fines`
--

DROP TABLE IF EXISTS `fines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fines` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `month` tinyint NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `reason` enum('missed_saving','late_payment','other') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'missed_saving',
  `description` text COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','paid','waived') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fines_member_id_fiscal_year_id_month_reason_unique` (`member_id`,`fiscal_year_id`,`month`,`reason`),
  KEY `fines_fiscal_year_id_foreign` (`fiscal_year_id`),
  KEY `fines_created_by_foreign` (`created_by`),
  CONSTRAINT `fines_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fines_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fines_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fines`
--

LOCK TABLES `fines` WRITE;
/*!40000 ALTER TABLE `fines` DISABLE KEYS */;
/*!40000 ALTER TABLE `fines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fiscal_years`
--

DROP TABLE IF EXISTS `fiscal_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fiscal_years` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `csv_generated` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fiscal_years`
--

LOCK TABLES `fiscal_years` WRITE;
/*!40000 ALTER TABLE `fiscal_years` DISABLE KEYS */;
INSERT INTO `fiscal_years` VALUES (1,'year 2026-2027','2026-01-01','2026-12-31','active',0,'2026-03-04 11:58:02','2026-03-04 11:58:02',NULL);
/*!40000 ALTER TABLE `fiscal_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_savings`
--

DROP TABLE IF EXISTS `group_savings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group_savings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `month` tinyint NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `status` enum('paid','pending','exempt') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `group_savings_member_id_fiscal_year_id_month_unique` (`member_id`,`fiscal_year_id`,`month`),
  KEY `group_savings_fiscal_year_id_foreign` (`fiscal_year_id`),
  KEY `group_savings_created_by_foreign` (`created_by`),
  CONSTRAINT `group_savings_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `group_savings_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `group_savings_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_savings`
--

LOCK TABLES `group_savings` WRITE;
/*!40000 ALTER TABLE `group_savings` DISABLE KEYS */;
INSERT INTO `group_savings` VALUES (1,3,1,3,30000.00,'paid',NULL,4,'2026-03-04 13:01:01','2026-03-04 13:01:01'),(2,4,1,3,20.00,'paid',NULL,4,'2026-03-05 03:58:04','2026-03-05 04:23:50'),(3,4,1,4,100.00,'paid',NULL,4,'2026-03-05 04:00:15','2026-03-05 05:59:38'),(4,3,1,4,100.00,'paid',NULL,4,'2026-03-05 04:04:06','2026-03-05 05:42:07'),(5,4,1,5,10.00,'paid',NULL,4,'2026-03-05 04:07:04','2026-03-05 06:00:16');
/*!40000 ALTER TABLE `group_savings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guarantor_notifications`
--

DROP TABLE IF EXISTS `guarantor_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guarantor_notifications` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uploaded_form_id` bigint unsigned NOT NULL,
  `notification_message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sent_at` timestamp NOT NULL,
  `sent_to_all_members` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `guarantor_notifications_uploaded_form_id_index` (`uploaded_form_id`),
  KEY `guarantor_notifications_sent_to_all_members_index` (`sent_to_all_members`),
  CONSTRAINT `guarantor_notifications_uploaded_form_id_foreign` FOREIGN KEY (`uploaded_form_id`) REFERENCES `uploaded_forms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guarantor_notifications`
--

LOCK TABLES `guarantor_notifications` WRITE;
/*!40000 ALTER TABLE `guarantor_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `guarantor_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment_portfolios`
--

DROP TABLE IF EXISTS `investment_portfolios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `investment_portfolios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `investment_type` enum('FIXED_DEPOSIT','TREASURY_BILL','CORPORATE_BOND','EQUITY','MUTUAL_FUND','REAL_ESTATE','OTHER') COLLATE utf8mb4_unicode_ci NOT NULL,
  `institution` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `principal_amount` decimal(15,2) NOT NULL,
  `interest_rate` decimal(8,4) DEFAULT NULL,
  `investment_date` date NOT NULL,
  `maturity_date` date DEFAULT NULL,
  `status` enum('ACTIVE','MATURED','CLOSED','DEFAULTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `current_value` decimal(15,2) DEFAULT NULL,
  `total_returns` decimal(15,2) NOT NULL DEFAULT '0.00',
  `reference_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `account_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned DEFAULT NULL,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `investment_portfolios_reference_number_unique` (`reference_number`),
  KEY `investment_portfolios_created_by_foreign` (`created_by`),
  KEY `investment_portfolios_approved_by_foreign` (`approved_by`),
  KEY `investment_portfolios_investment_date_index` (`investment_date`),
  KEY `investment_portfolios_maturity_date_index` (`maturity_date`),
  KEY `investment_portfolios_status_index` (`status`),
  KEY `investment_portfolios_investment_type_index` (`investment_type`),
  KEY `investment_portfolios_reference_number_index` (`reference_number`),
  CONSTRAINT `investment_portfolios_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `investment_portfolios_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment_portfolios`
--

LOCK TABLES `investment_portfolios` WRITE;
/*!40000 ALTER TABLE `investment_portfolios` DISABLE KEYS */;
INSERT INTO `investment_portfolios` VALUES (1,'bank try','FIXED_DEPOSIT','boda',1000000.00,5.0000,'2026-03-05',NULL,'ACTIVE',1050000.00,50000.00,'001','1233425','tina check',4,NULL,NULL,'2026-03-05 06:04:33','2026-03-05 06:05:17',NULL);
/*!40000 ALTER TABLE `investment_portfolios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment_transactions`
--

DROP TABLE IF EXISTS `investment_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `investment_transactions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `investment_portfolio_id` bigint unsigned NOT NULL,
  `transaction_type` enum('INITIAL_INVESTMENT','ADDITIONAL_CONTRIBUTION','INTEREST_INCOME','DIVIDEND_INCOME','CAPITAL_GAIN','PRINCIPAL_RETURN','INVESTMENT_EXPENSE','WITHDRAWAL','REINVESTMENT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `transaction_date` date NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `reference_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receipt_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_method` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `running_balance` decimal(15,2) DEFAULT NULL,
  `accumulated_returns` decimal(15,2) NOT NULL DEFAULT '0.00',
  `created_by` bigint unsigned DEFAULT NULL,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `investment_transactions_created_by_foreign` (`created_by`),
  KEY `investment_transactions_approved_by_foreign` (`approved_by`),
  KEY `investment_transactions_investment_portfolio_id_index` (`investment_portfolio_id`),
  KEY `investment_transactions_transaction_type_index` (`transaction_type`),
  KEY `investment_transactions_transaction_date_index` (`transaction_date`),
  KEY `investment_transactions_reference_number_index` (`reference_number`),
  CONSTRAINT `investment_transactions_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `investment_transactions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `investment_transactions_investment_portfolio_id_foreign` FOREIGN KEY (`investment_portfolio_id`) REFERENCES `investment_portfolios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment_transactions`
--

LOCK TABLES `investment_transactions` WRITE;
/*!40000 ALTER TABLE `investment_transactions` DISABLE KEYS */;
INSERT INTO `investment_transactions` VALUES (1,1,'INITIAL_INVESTMENT',1000000.00,'2026-03-05','Initial investment in bank try','001',NULL,NULL,1000000.00,0.00,4,4,'2026-03-05 06:04:33',NULL,'2026-03-05 06:04:33','2026-03-05 06:04:33',NULL),(2,1,'INTEREST_INCOME',50000.00,'2026-03-05','m1','01',NULL,NULL,1050000.00,50000.00,4,NULL,NULL,NULL,'2026-03-05 06:05:17','2026-03-05 06:05:17',NULL);
/*!40000 ALTER TABLE `investment_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_guarantors`
--

DROP TABLE IF EXISTS `loan_guarantors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_guarantors` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uploaded_form_id` bigint unsigned NOT NULL,
  `guarantor_member_id` bigint unsigned NOT NULL,
  `guarantee_percentage` decimal(5,2) NOT NULL,
  `guaranteed_amount` decimal(12,2) NOT NULL,
  `guarantee_status` enum('pending','confirmed','withdrawn','called_upon') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `guarantee_confirmation` text COLLATE utf8mb4_unicode_ci,
  `guaranteed_at` timestamp NULL DEFAULT NULL,
  `withdrawn_at` timestamp NULL DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_form_guarantor` (`uploaded_form_id`,`guarantor_member_id`),
  KEY `loan_guarantors_uploaded_form_id_guarantee_status_index` (`uploaded_form_id`,`guarantee_status`),
  KEY `loan_guarantors_guarantor_member_id_index` (`guarantor_member_id`),
  CONSTRAINT `loan_guarantors_guarantor_member_id_foreign` FOREIGN KEY (`guarantor_member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loan_guarantors_uploaded_form_id_foreign` FOREIGN KEY (`uploaded_form_id`) REFERENCES `uploaded_forms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_guarantors`
--

LOCK TABLES `loan_guarantors` WRITE;
/*!40000 ALTER TABLE `loan_guarantors` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_guarantors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_penalties`
--

DROP TABLE IF EXISTS `loan_penalties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_penalties` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` bigint unsigned NOT NULL,
  `repayment_schedule_id` bigint unsigned DEFAULT NULL,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `penalty_amount` decimal(12,2) NOT NULL,
  `penalty_type` enum('late_payment','missed_payment','default_interest') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'late_payment',
  `penalty_date` date NOT NULL,
  `due_date_of_missed_payment` date NOT NULL,
  `days_overdue` int NOT NULL,
  `penalty_rate` decimal(5,2) NOT NULL,
  `status` enum('pending','paid','waived') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `paid_date` date DEFAULT NULL,
  `waived_by` bigint unsigned DEFAULT NULL,
  `waiver_reason` text COLLATE utf8mb4_unicode_ci,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `loan_penalties_repayment_schedule_id_foreign` (`repayment_schedule_id`),
  KEY `loan_penalties_waived_by_foreign` (`waived_by`),
  KEY `loan_penalties_loan_id_status_index` (`loan_id`,`status`),
  KEY `loan_penalties_member_id_status_index` (`member_id`,`status`),
  KEY `loan_penalties_fiscal_year_id_status_index` (`fiscal_year_id`,`status`),
  CONSTRAINT `loan_penalties_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loan_penalties_loan_id_foreign` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loan_penalties_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loan_penalties_repayment_schedule_id_foreign` FOREIGN KEY (`repayment_schedule_id`) REFERENCES `repayment_schedules` (`id`) ON DELETE SET NULL,
  CONSTRAINT `loan_penalties_waived_by_foreign` FOREIGN KEY (`waived_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_penalties`
--

LOCK TABLES `loan_penalties` WRITE;
/*!40000 ALTER TABLE `loan_penalties` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_penalties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_repayments`
--

DROP TABLE IF EXISTS `loan_repayments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_repayments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` bigint unsigned NOT NULL,
  `repayment_schedule_id` bigint unsigned DEFAULT NULL,
  `installment_number` int NOT NULL,
  `amount_paid` decimal(12,2) NOT NULL,
  `principal_component` decimal(12,2) NOT NULL,
  `interest_component` decimal(12,2) NOT NULL,
  `penalty_component` decimal(12,2) NOT NULL DEFAULT '0.00',
  `payment_date` date NOT NULL,
  `payment_method` enum('cash','bank_transfer','mobile_money','savings_deduction') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'cash',
  `transaction_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `received_by` bigint unsigned NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `loan_repayments_loan_id_foreign` (`loan_id`),
  CONSTRAINT `loan_repayments_loan_id_foreign` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_repayments`
--

LOCK TABLES `loan_repayments` WRITE;
/*!40000 ALTER TABLE `loan_repayments` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_repayments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_requests`
--

DROP TABLE IF EXISTS `loan_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `requested_amount` decimal(12,2) NOT NULL,
  `loan_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `duration_months` int NOT NULL,
  `purpose` text COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','approved','rejected','withdrawn') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `admin_notes` text COLLATE utf8mb4_unicode_ci,
  `member_savings_at_request` decimal(12,2) NOT NULL,
  `existing_loan_balance` decimal(12,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `loan_requests_approved_by_foreign` (`approved_by`),
  KEY `loan_requests_member_id_status_index` (`member_id`,`status`),
  KEY `loan_requests_fiscal_year_id_status_index` (`fiscal_year_id`,`status`),
  CONSTRAINT `loan_requests_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `loan_requests_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loan_requests_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_requests`
--

LOCK TABLES `loan_requests` WRITE;
/*!40000 ALTER TABLE `loan_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loans`
--

DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `loan_request_id` bigint unsigned DEFAULT NULL,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `loan_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `principal_amount` decimal(12,2) NOT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `interest_type` enum('flat','reducing_balance') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'reducing_balance',
  `duration_months` int NOT NULL,
  `monthly_installment` decimal(12,2) NOT NULL,
  `total_interest` decimal(12,2) NOT NULL,
  `total_repayable` decimal(12,2) NOT NULL,
  `balance` decimal(12,2) NOT NULL,
  `paid_amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status` enum('active','completed','defaulted','suspended') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `disbursement_date` date NOT NULL,
  `first_payment_date` date NOT NULL,
  `maturity_date` date NOT NULL,
  `completed_at` date DEFAULT NULL,
  `disbursed_by` bigint unsigned NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `loans_loan_number_unique` (`loan_number`),
  KEY `loans_loan_request_id_foreign` (`loan_request_id`),
  KEY `loans_disbursed_by_foreign` (`disbursed_by`),
  KEY `loans_member_id_status_index` (`member_id`,`status`),
  KEY `loans_fiscal_year_id_status_index` (`fiscal_year_id`,`status`),
  KEY `loans_loan_number_index` (`loan_number`),
  CONSTRAINT `loans_disbursed_by_foreign` FOREIGN KEY (`disbursed_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loans_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loans_loan_request_id_foreign` FOREIGN KEY (`loan_request_id`) REFERENCES `loan_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `loans_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loans`
--

LOCK TABLES `loans` WRITE;
/*!40000 ALTER TABLE `loans` DISABLE KEYS */;
INSERT INTO `loans` VALUES (1,NULL,4,1,'LN-2026-0001',30000.00,10.00,'reducing_balance',10,3139.21,1392.11,31392.11,31392.11,0.00,'active','2026-03-05','2026-05-05','2027-01-05',NULL,4,NULL,'2026-03-05 07:18:18','2026-03-05 07:18:18');
/*!40000 ALTER TABLE `loans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_accounts`
--

DROP TABLE IF EXISTS `member_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_accounts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `total_deposited` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_distributed` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `savings_balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `welfare_balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `fines_balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `other_balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `shares_on_hold` decimal(15,2) DEFAULT '0.00',
  `total_shares` decimal(15,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `member_accounts_member_id_fiscal_year_id_unique` (`member_id`,`fiscal_year_id`),
  KEY `member_accounts_fiscal_year_id_foreign` (`fiscal_year_id`),
  CONSTRAINT `member_accounts_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE,
  CONSTRAINT `member_accounts_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_accounts`
--

LOCK TABLES `member_accounts` WRITE;
/*!40000 ALTER TABLE `member_accounts` DISABLE KEYS */;
INSERT INTO `member_accounts` VALUES (1,3,1,500000.00,70404.00,429596.00,30101.00,20101.00,10101.00,10101.00,0.00,0.00,'2026-03-04 13:00:01','2026-03-05 05:42:07'),(2,4,1,700000.00,213764.00,486236.00,156241.00,46241.00,5641.00,5641.00,0.00,0.00,'2026-03-05 03:57:17','2026-03-05 06:00:16');
/*!40000 ALTER TABLE `member_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_financials`
--

DROP TABLE IF EXISTS `member_financials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_financials` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `savings` decimal(15,2) NOT NULL DEFAULT '0.00',
  `welfare` decimal(15,2) NOT NULL DEFAULT '0.00',
  `education_in` decimal(15,2) NOT NULL DEFAULT '0.00',
  `fined` decimal(15,2) NOT NULL DEFAULT '0.00',
  `fines_paid` decimal(15,2) NOT NULL DEFAULT '0.00',
  `education_out` decimal(15,2) NOT NULL DEFAULT '0.00',
  `loan_repayments` decimal(15,2) NOT NULL DEFAULT '0.00',
  `loan_charges` decimal(15,2) NOT NULL DEFAULT '0.00',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `member_financials_member_id_foreign` (`member_id`),
  CONSTRAINT `member_financials_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_financials`
--

LOCK TABLES `member_financials` WRITE;
/*!40000 ALTER TABLE `member_financials` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_financials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_loan_summaries`
--

DROP TABLE IF EXISTS `member_loan_summaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_loan_summaries` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `loan_brought_forward` decimal(15,2) NOT NULL DEFAULT '0.00',
  `loan_issued_current_year` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_year_loan_plus_interest` decimal(15,2) NOT NULL DEFAULT '0.00',
  `loan_balance_without_fines` decimal(15,2) NOT NULL DEFAULT '0.00',
  `loan_out` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total` decimal(15,2) NOT NULL DEFAULT '0.00',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `member_loan_summaries_member_id_foreign` (`member_id`),
  CONSTRAINT `member_loan_summaries_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_loan_summaries`
--

LOCK TABLES `member_loan_summaries` WRITE;
/*!40000 ALTER TABLE `member_loan_summaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_loan_summaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `members` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `first_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `national_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `physical_address` text COLLATE utf8mb4_unicode_ci,
  `postal_code` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `next_of_kin_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `next_of_kin_phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `next_of_kin_relationship` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `initial_savings` decimal(15,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `members_national_id_unique` (`national_id`),
  UNIQUE KEY `members_email_unique` (`email`),
  KEY `members_phone_index` (`phone`),
  KEY `members_user_id_foreign` (`user_id`),
  CONSTRAINT `members_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
INSERT INTO `members` VALUES (1,5,'Admin','User','12345678','admin@sacco.com','+254700000000',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'','2026-03-04 11:14:22','2026-03-04 12:03:28',NULL,0.00),(3,6,'SSEMWOGERERE','DOUGLAS',NULL,'danielzdouson@gmail.com','0756020016',NULL,NULL,'mutundwe',NULL,'hello','0756020016','wify',NULL,'','2026-03-04 12:50:03','2026-03-04 12:55:50',NULL,0.00),(4,NULL,'clone2','two','45261561','clone2@sacco.com','7114-9865',NULL,NULL,'home','234','three','0907879342','bro',NULL,'','2026-03-05 03:18:04','2026-03-05 03:18:04',NULL,0.00);
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monthly_savings`
--

DROP TABLE IF EXISTS `monthly_savings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `monthly_savings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `member_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `membership_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `start_balance` decimal(15,2) NOT NULL DEFAULT '0.00',
  `jul_25` decimal(15,2) NOT NULL DEFAULT '0.00',
  `aug_25` decimal(15,2) NOT NULL DEFAULT '0.00',
  `sep_25` decimal(15,2) NOT NULL DEFAULT '0.00',
  `oct_25` decimal(15,2) NOT NULL DEFAULT '0.00',
  `nov_25` decimal(15,2) NOT NULL DEFAULT '0.00',
  `dec_25` decimal(15,2) NOT NULL DEFAULT '0.00',
  `jan_26` decimal(15,2) NOT NULL DEFAULT '0.00',
  `feb_26` decimal(15,2) NOT NULL DEFAULT '0.00',
  `mar_26` decimal(15,2) NOT NULL DEFAULT '0.00',
  `apr_26` decimal(15,2) NOT NULL DEFAULT '0.00',
  `may_26` decimal(15,2) NOT NULL DEFAULT '0.00',
  `jun_26` decimal(15,2) NOT NULL DEFAULT '0.00',
  `year_2024_2025_totals` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_year_savings` decimal(15,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `monthly_savings_member_id_index` (`member_id`),
  CONSTRAINT `monthly_savings_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monthly_savings`
--

LOCK TABLES `monthly_savings` WRITE;
/*!40000 ALTER TABLE `monthly_savings` DISABLE KEYS */;
/*!40000 ALTER TABLE `monthly_savings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `repayment_schedules`
--

DROP TABLE IF EXISTS `repayment_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `repayment_schedules` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` bigint unsigned NOT NULL,
  `installment_number` int NOT NULL,
  `due_date` date NOT NULL,
  `principal_due` decimal(12,2) NOT NULL,
  `interest_due` decimal(12,2) NOT NULL,
  `total_due` decimal(12,2) NOT NULL,
  `principal_paid` decimal(12,2) NOT NULL DEFAULT '0.00',
  `interest_paid` decimal(12,2) NOT NULL DEFAULT '0.00',
  `penalty_charged` decimal(12,2) NOT NULL DEFAULT '0.00',
  `penalty_paid` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status` enum('pending','paid','overdue','partially_paid') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `paid_date` date DEFAULT NULL,
  `outstanding_balance` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `repayment_schedules_loan_id_installment_number_index` (`loan_id`,`installment_number`),
  KEY `repayment_schedules_loan_id_due_date_index` (`loan_id`,`due_date`),
  KEY `repayment_schedules_loan_id_status_index` (`loan_id`,`status`),
  CONSTRAINT `repayment_schedules_loan_id_foreign` FOREIGN KEY (`loan_id`) REFERENCES `loans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `repayment_schedules`
--

LOCK TABLES `repayment_schedules` WRITE;
/*!40000 ALTER TABLE `repayment_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `repayment_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `repayments`
--

DROP TABLE IF EXISTS `repayments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `repayments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `loan_id` bigint unsigned NOT NULL,
  `member_id` bigint unsigned NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `principal_component` decimal(15,2) DEFAULT NULL,
  `interest_component` decimal(15,2) DEFAULT NULL,
  `method` enum('cash','bank_transfer','mobile_money','cheque','other') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'cash',
  `reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paid_at` timestamp NULL DEFAULT NULL,
  `received_by` bigint unsigned DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `repayments_loan_id_index` (`loan_id`),
  KEY `repayments_member_id_index` (`member_id`),
  KEY `repayments_reference_index` (`reference`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `repayments`
--

LOCK TABLES `repayments` WRITE;
/*!40000 ALTER TABLE `repayments` DISABLE KEYS */;
/*!40000 ALTER TABLE `repayments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `type` enum('deposit','withdrawal','loan_disbursement','repayment','fee','adjustment') COLLATE utf8mb4_unicode_ci NOT NULL,
  `related_id` bigint unsigned DEFAULT NULL,
  `related_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('pending','completed','failed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `handled_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `transactions_member_id_index` (`member_id`),
  KEY `transactions_type_index` (`type`),
  KEY `transactions_related_id_index` (`related_id`),
  KEY `transactions_related_type_index` (`related_type`),
  KEY `transactions_reference_index` (`reference`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uploaded_forms`
--

DROP TABLE IF EXISTS `uploaded_forms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uploaded_forms` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned NOT NULL,
  `document_id` bigint unsigned NOT NULL,
  `filename` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `loan_amount` decimal(12,2) DEFAULT NULL,
  `guarantors_required` int NOT NULL DEFAULT '0',
  `status` enum('pending_guarantors','ready_for_review','approved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending_guarantors',
  `admin_notes` text COLLATE utf8mb4_unicode_ci,
  `reviewed_by` bigint unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `uploaded_forms_reviewed_by_foreign` (`reviewed_by`),
  KEY `uploaded_forms_member_id_status_index` (`member_id`,`status`),
  KEY `uploaded_forms_document_id_index` (`document_id`),
  CONSTRAINT `uploaded_forms_document_id_foreign` FOREIGN KEY (`document_id`) REFERENCES `documents` (`id`) ON DELETE CASCADE,
  CONSTRAINT `uploaded_forms_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `uploaded_forms_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uploaded_forms`
--

LOCK TABLES `uploaded_forms` WRITE;
/*!40000 ALTER TABLE `uploaded_forms` DISABLE KEYS */;
/*!40000 ALTER TABLE `uploaded_forms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `member_id` bigint unsigned DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'member',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_member_id_foreign` (`member_id`),
  CONSTRAINT `users_member_id_foreign` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `welfare_funds`
--

DROP TABLE IF EXISTS `welfare_funds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `welfare_funds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `fiscal_year_id` bigint unsigned NOT NULL,
  `month` tinyint NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `welfare_funds_fiscal_year_id_month_unique` (`fiscal_year_id`,`month`),
  KEY `welfare_funds_created_by_foreign` (`created_by`),
  CONSTRAINT `welfare_funds_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `welfare_funds_fiscal_year_id_foreign` FOREIGN KEY (`fiscal_year_id`) REFERENCES `fiscal_years` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `welfare_funds`
--

LOCK TABLES `welfare_funds` WRITE;
/*!40000 ALTER TABLE `welfare_funds` DISABLE KEYS */;
INSERT INTO `welfare_funds` VALUES (1,1,3,60020.00,NULL,NULL,'2026-03-04 13:01:01','2026-03-05 04:23:51'),(2,1,4,6201.00,NULL,NULL,'2026-03-05 04:00:15','2026-03-05 05:59:38'),(3,1,5,121.00,NULL,NULL,'2026-03-05 04:07:04','2026-03-05 06:00:16');
/*!40000 ALTER TABLE `welfare_funds` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-05 11:03:01
